$text-color-main: #000000;
$text-color-required-fields: red;
$text-color-photo: #3951e3;
$text-color-button: #ffffff;
$text-color-service-comments: #979797;

$background-color-main: #ffffff;
$background-color-overlay: rgba(0, 0, 0, 0.3);
$background-color-button: #3951e3;

$mobile-width: 320px;
$mobile-width-only: 401px;
$desktop-width: 890px;
